# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Virtual environment
venv/
env/
.env/
.venv/

# PyInstaller build output
build/
dist/
*.spec

# Temp player file
watch.html
phim_player.html

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
desktop.ini
